:root {
  font-family: Montserrat, sans-serif;;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  --accent-color: #f45926;
  --background-color-dark-theme: #1d1d1d;
  --background-color-light-theme: white;

  cursor: default;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
body[data-theme='dark'] {
  background-color: var(--background-color-dark-theme);
  color: white;
}
body[data-theme='light'] {
  background-color: var(--background-color-light-theme);
  color: black;
}

